
.form-wrapper{
    height: max-content;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.form-groups {
    margin: 0 auto;
    width: max-content;
    display: flex;
    justify-content: center;
    position: relative;

}


.form-input {
    height: 25px;

    border: none;
    outline: none;
    margin: 5px;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    background: white;
    box-shadow: -9px 9px 7px rgba(0, 0, 0, 0.3);
    display: block;


}

button.form-input {
    padding: 17px 5px;
    line-height: 2px;
    background: blueviolet;
    color: white;

}

.auto-list {
    margin: 0;
    width: 60%;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    padding: 10px 5px;
    min-width: 166px;
    border-radius: 5px;
    background-color: cornsilk;


    box-shadow: -9px 9px 7px rgba(0, 0, 0, 0.3);
}

.auto-list::-webkit-scrollbar {
    width: 10px;

}

/* Track */
.auto-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;

}

/* Handle */
.auto-list::-webkit-scrollbar-thumb {
    background: blueviolet;
    padding: 2px;
    border-radius: 5px;

}

.auto-item {
    border-radius: 5px;
    transition: .2s;
    padding-left: 5px;
}

.auto-item:hover {
    background-color: blueviolet;
    box-shadow: -9px 9px 7px rgba(0, 0, 0, 0.3);
    color: cornsilk;
}

.list-wrapper {
    padding: 3px;
    position: absolute;
    z-index: 1;
}
.length-list {
    z-index: 5;
    display: inline-flex;
    height: max-content;
    padding: 5px 17.5%;
    background: blueviolet;
    color: white;
    margin-top: 2px;
    border-radius: 5px;
    box-shadow: -9px 9px 7px rgba(0, 0, 0, 0.3);
}