.weather__img {
    margin: 0 auto;
    display: block;
    width: 80px;
   background-color: #7ecffb;
    border-radius: 13px;
    box-shadow: -9px 9px 7px rgba(0, 0, 0, 0.3);

}

.temperature {
    display: flex;
    justify-content: center;
}

.temperature-info {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15),
    -9px 9px 7px rgba(0, 0, 0, 0.3);;
    text-transform: uppercase;
    user-select: none;

}
.location {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    user-select: none;
}
.location-info{
    color: white;
    text-shadow: -5px 6px 5px rgba(0,0,0,.5);
}

.weather__info{
    display: flex;
    justify-content: space-around;

}
.humidity{
   width: max-content;
    background: cornsilk;
    border-radius:4px ;
    padding: 15px;
    height: 50px;
    box-shadow: -9px 9px 7px rgba(0, 0, 0, 0.3);;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:10px ;
}
.humidity-info{
    font-weight: bold;
    font-size: 20px;
}
.condition{
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    background: cornsilk;
    border-radius:4px ;
    height: 50px;
    width: max-content;
    padding: 15px;
    box-shadow: -9px 9px 7px rgba(0, 0, 0, 0.3);;
    font-weight: bold;
}
.condition-info {
    margin: 5px;
    display: flex;
    align-items: center;
}
path{
    color: blueviolet;
}
i.fas.fa-wind, i.fas.fa-cloud{
    color: blueviolet;
    display: block;
    margin-right:5px ;
}

