html, body{
    margin: 0;
    padding: 0;
box-sizing: border-box;
    height: 100vh;
    width:100vw
}


.hide{
    display: none;
}
.app-wrapper{
    background-image: url("https://th.bing.com/th/id/OIP.cPGm7AlRs31mXCEITMvSfAHaEo?pid=Api&rs=1");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: max-content;
    width: max-content;
    padding: 50px;
    border-top: 1px solid rgba(255,255,255,.5);
    border-left: 1px solid rgba(255,255,255,.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 5px;
    background-color:rgba(0,0,0,.2)!important;


}
.weather__error {
    background: white;
    margin: 0;
    padding: 3px 10px;
    border-radius: 5px;
    color: red;
    box-shadow: -9px 9px 7px rgba(0,0,0,0.3);
}
.date-time{
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
    font-family: inherit;
    color: white;
    text-shadow: -5px 6px 5px rgba(0,0,0,.5)
}